.App {
  max-width: 1170px;
  margin: 0 auto;
  color: #222;
}

.Toolbar {
  list-style: none;
}

.Toolbar-Filter {
display: inline-block;
border: 2px solid black;
margin-right: 10px;
padding: 0 5px 0 5px;
} 

.Toolbar-Filter-Selected {
background-color: grey;
}

.Projects {
  column-count: 3;
  column-gap: 10px;
}

.Image {
  width: 100%;
  margin-bottom: 10px;
}

